// $theme-color:#4fc08d;
$theme-dark-color:rgba(#26b3a0,.8);
// $bg-theme-color:rgba(#26b3a0,.1);
$blue:#03A9F4;
$yellow:#FFC107;
$yellow-text:#ffeb3b;
$font-normal:#333333;
$font-middle:#666666;
$font-light:#333333;
$white: #FFFFFF;
$grey: #999A9A;

$theme-color: #63acb6;
$bg-theme-color:  #e6f1f3;
$hover-color: #9ac7ce;
$font-color: #7fbac2;
$sec-bg-theme-color: #cde3e6;
$third-bg-theme-color: #b3d5da;
$bg-white: #FFFFFF;
$bg-gray: #F5F5F5;
$bg-gray-light:#FAFAFA;
$bg-gray-empha:#F1F2F3;



